:root{
    --primary-color: #121212;;
    --primary-color-text: #ffffff;
    --secondary-color-text: #136100;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 50px;
    
    margin: 32px;
}
.navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 24px;
}
.navbar ul li a {
    color: var(--primary-color-text);
    text-decoration: none;
    margin: 0 10px;
    padding: 0 10px;
}