.home__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    width: 100%;
    background-color: var(--primary-color);
}
.home__navbar ul {
    display: flex;
    list-style: none;
}
.home__navbar ul li a {
    color: var(--primary-color-text);
    text-decoration: none;
    margin: 0 10px;
}